<div class="row">
    <div class="col-md-12 col-xs-12">
        <h2>List of all messages</h2>
        <div class="row" id="post-item2">
    	<div class="table-responsive" data-ng-controller="chatMgmtCtrl">
			
			
			 <table class="table table-striped table-hover" >
				 <caption></caption>
				 <thead>
					<tr>
						<th id="mid">Message Id</th>
						<th id="uname">Username</th>
						<th id="msg">Message</th>
						<th id="ptime"> Time</th>
						<th id="remov">Action</th>
					</tr>

				</thead>
				 
				<tbody>
					<tr data-ng-repeat="messages in data.messages">
						<td>{{messages.MessageID}}</td>
						<td>{{messages.NickName}}</td>
						<td>{{messages.Message}}  </td>
						<td>{{messages.MessageTime}}</td>	
						<td><button data-ng-click="Remove(messages.MessageID,messages.EventID)">Delete Message</button></td>			
					</tr>				 
				</tbody>       
        
			</table>	
			{{msg}}	
		</div>  
        </div>
    </div>
</div>