<div class="row">
	<div class="col-sm-12 col-md-12">
		<div data-ng-controller="chatCtrl" data-ng-init="LoadData()">
						
			<button class="btn btn-lg" data-ng-click="LoadData()">Refresh</button>	
							
			<div class="panel panel-danger" >
				<!-- forked from http://codepen.io/stevepiercedev/pen/luHjm/ and edited for own use-->
				<div class="panel-heading">
					<span class="glyphicon glyphicon-user"></span>
					<h6 class="panel-title">Chat</h6>
					<div class="btn-group btn-group-xs pull-right">

					</div>
					<div class="clearfix"></div>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-12" id="chatp">
							<table class="table table-hover table-condensed table-striped">
								<tr data-ng-repeat="m in data.messages track by m.MessageID"
								id="chatr">

									<td><h6>{{m.NickName}}</h6></td>
									<td>
									<p class="word-wrap:break-word"><small>{{m.Message}}</small></p>
									</td>
								</tr>		 
							</table>

						</div>
					</div>
				</div>				
			</div>
			<br/>	

			<form name="cbox" data-ng-submit="Add(chat.username, chat.message)" >
				<div class="row">
					<div class="col-md-4">
						<label for="cuname">Username:</label>
						<input id="cuname" name="cuser" type="text" class="form-control" data-ng-model="chat.username" required="required"/>		
					</div>

					<div class="col-md-4">
						<label for="cmess">Message:</label>
						<input type="text" id="cmess" required="required" class="form-control" name="cmsg" data-ng-model="chat.message"/>		
					</div>	

					<div class="col-md-3">
					<button class="btn btn-lg  btn-danger" type="submit" data-ng-disabled="myForm.$invalid">Send</button>
									
						
					</div>
			
					{{msg}}	
			
					
				</div>			
			</form>	
			
		</div>	
	
	</div>


</div>